*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
  background: #D4D4D4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.division{
    height: 620px;
    width: 85%;
    padding: 10px;
    margin: 5px auto;
    text-align: center;
    background: rgb(103, 145, 224);
}

.division h1{
    text-align: center;
    color: aliceblue;
}

.elemento{
    padding: 10px;
}

.text{
    padding: 10px;
    margin-left: 20px;
}

.tam{
    margin-left: 20px;
    border: none;
    width: 300px;
    height: 40px;
}

.boton{
    margin: 10px auto;
    height: 30px;
}
